/*Contains styling from previous Cloaked project*/
@import url('https://fonts.googleapis.com/css?family=Lato');

a {
	color: #50bfe3;
}

body {
	color: white;
	background-color: #d3d3d3;
	background-image: url('bgimg.png');
	background-repeat: repeat;
	border: 8px solid #ececec;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 10px;
	text-align: center;
}

#title {
	margin-top: 5px;
}

#logo {
	margin-top: 10px;
	width: 64px;
}

